<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fontExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A7FF5241EE990B2001E756D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A7FF53D1EE990B2001E756D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A7FF5481EE990B2001E756D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
